ACCESS_JWT_SECRET=
ACCESS_TOKEN_EXPIRES=
BACKEND_URL=
CACHE_TTL_GUEST_ROOMS=
CACHE_TTL_ROOM_DETAIL=
CORS_ORIGINS=
DATABASE_URL=
ENCRYPTION_KEY=
FRONTEND_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LOG_CACHE_ACTIVITY=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REFRESH_JWT_SECRET=
REFRESH_TOKEN_EXPIRES=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
GEMINI_API_KEY=
PORT=3000